.similar {
    margin: var(--size-xxxl) 0;

    .intro {
        display: flex;
        flex-direction: column;
        gap: var(--size-xs);
    }

    .list {
        margin: var(--size-xxl) 0;
    }

    .buttonWrapper {
        display: flex;
        justify-content: center;
    }
}