@import '@/components/tokens/breakpoints.scss';

.tag {
    border-radius: 24px;
    display: flex;
    gap: var(--size-xxxs);
    align-items: center;
    border: 1.5px solid currentColor;
    padding: var(--size-special6) var(--size-xs);

    &.hasIcon {
        padding-left: var(--size-xxs);
    }

    &:not(.hasLabel) {
        padding-right: var(--size-xxs);
    }

    svg,
    img {
        width: 20px;
        height: 20px;
    }

    @include breakpoint($breakpoint-mobile) {
        padding: var(--size-xxs) var(--size-s);
        border-width: unset;
        gap: var(--size-xxs);
        border-width: 2px;

        &.hasIcon {
            padding-left: var(--size-xs);
        }

        &:not(.hasLabel) {
            padding-right: var(--size-xs);
        }

        svg,
        img {
            width: unset;
            height: unset;
        }
    }
}