@import '@/components/tokens/breakpoints.scss';

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--size-xl);

    @include breakpoint($breakpoint-tablet-small) {
        gap: var(--size-xxxl);
    }

    .teaserContainer {
        display: flex;
    }
}

.image {
    border-radius: var(--size-m);
    width: 100%;
    height: auto;
}

.paragraph {
    position: relative;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
    }
}